/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
  height: 100%;
  width:100%;
}

body{
  height: 100%;
  width: 100%;
	overflow:hidden;
}

#animation-container{
  height: 100%;
  width: 100%;
  background: url("http://jonvilma.com/images/field-7.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.vertical-bar{
  position: absolute;
  height:100%;
  width: 60px;
  background-color: white;
  border-right: 4px solid black;
  border-left: 4px solid black;
  left:50%;
  margin-left: -30px;
  box-shadow: inset 101px 0px 230px -82px rgba(0,0,0,0.77);
  z-index:2;
}

.vertical-bar2{
  position: absolute;
  height:100%;
  width: 60px;
  background-color: white;
  border-right: 4px solid black;
  border-left: 4px solid black;
  left:20%;
  margin-left: -30px;
  box-shadow: inset 101px 0px 230px -82px rgba(0,0,0,0.77);
  z-index:2;
}
.vertical-bar3{
  position: absolute;
  height:100%;
  width: 60px;
  background-color: white;
  border-right: 4px solid black;
  border-left: 4px solid black;
  left:80%;
  margin-left: -30px;
  box-shadow: inset 101px 0px 230px -82px rgba(0,0,0,0.77);
  z-index:2;
}

button {
  position: absolute;
  z-index: 5;
}

#sunAnimation {
    width: 500px;
    height: 500px;
    position: absolute;
    background-image:url("https://media.giphy.com/media/l4FGpdqgoaqOTBNMk/giphy.gif");
    background-repeat: no-repeat;
    background-size: auto;
    top:-100px;
    right: -600px;
}

#boy {
  width: 500px;
  height: 500px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto;
  bottom: -200px;
  left:20px;
  background-image: url("https://media.giphy.com/media/oqs3OABtFHhbW/giphy.gif");
}

#aniOne{
  width: 200px;
  height: 200px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top:450px;
  left:-200px;
  background-image: url("https://media.giphy.com/media/giPrqmbUwfS7K/giphy.gif");
}

#aniTwo{
  width: 300px;
  height: 300px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top:-400px;
  right:100px;

  background-image: url("https://media.giphy.com/media/pRlh6vBieORKU/giphy.gif");
}

#aniThree{
  width: 600px;
  height: 600px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top:-700px;
  left:50%;
  right:50%;
  margin-left: -200px;
  background-image: url("https://media.giphy.com/media/ubUcDekKmGiic/giphy.gif");

}

#aniFour{
  width: 470px;
  height: 470px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  bottom:-600px;
  left:0px;
  background-image: url("https://media.giphy.com/media/qwnzsfbrESDE4/giphy.gif");

}










/**/
